<ion-header>
  <ion-toolbar class="toolbarback">
    <!-- <ion-icon style="float:left;width:50px;height:30px;color:#949492;" name="ios-arrow-back" (click)='canGoBack()'>
    </ion-icon> -->
    <img style="float:left;width:30px;height:30px;color:#949492;" src="assets/icons/back.png" (click)='canGoBack()'>
    <ion-title id="animated">确认订单</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: white">
    <div class="top-store">
      <div class="store-logo">
        <img [src]="courseDetailsInfo?.ExhibitorExhibitionInfoId?.Logo" alt="" />
      </div>

      <div class="store-name">{{courseDetailsInfo?.ExhibitorExhibitionInfoId?.StockName}}</div>
    </div>
    <div class="body-course">
      <div class="left-img">
        <img [src]="banner" alt="" />
      </div>
      <div class="right-course">
        <div class="title-course">{{courseDetailsInfo.CourseTitle}}</div>
        <div class="price-course">￥{{courseDetailsInfo.ProductPrice}}X1</div>
      </div>

    </div>

    <!-- <ion-item>
    <ion-label>{{courseDetailsInfo.ExhibitorExhibitionInfoId.StockName}}</ion-label>
   
  </ion-item> -->

    <!-- <ion-row 
    style="border-bottom: 0.55px solid gray">
    <ion-col col-3 style="display:flex;align-items: center">
    
      <img [src]="banner" alt="" />
    </ion-col>
    <ion-col col-9>
      <h2>{{courseDetailsInfo.CourseTitle}}</h2>
    
      <div style="color: gray;margin: 10px 0;font-size: 16px;">发货时间：卖家承诺48小时</div>
      <div style="display: flex;justify-content: space-between;">
        <label style="color:#f44336;">￥{{courseDetailsInfo.Price}}</label>
        <div style="display: inline-flex;margin-left: 20px">
          X1
        </div>
      </div>
    </ion-col>
  </ion-row> -->
    <div style="display: flex;justify-content: flex-end;border-bottom: 0.55px solid gray">
      <div style="float: right;margin: 10px;">
        <label style="margin-right: 10px"> 共1个课程 </label>
        <label style="margin-right: 10px;color:#f44336;"> 总计:￥{{courseDetailsInfo.ProductPrice}}</label>
      </div>
    </div>
  </div>
  <div style="height: 80px;"></div>
  <!-- 固定底边栏 -->
  <div class="body-bottom">

    <div class="buyLeft">
      <!-- <div class="" (click)="paySuccess()">成功</div>

        <div class="" (click)="payError()">失败</div> -->
      <!-- <div class="left-service">
     
      <div class="tips-servicce">
        <span *ngIf=(false)>(不包含运费)</span> 合计：{{ courseDetailsInfo.ProductPrice }} 元
      </div>
    </div> -->

    </div>


    <div class="buyRight" (click)="submitOrder()">提交订单</div>
  </div>
</ion-content>