<ion-header>
  <ion-toolbar class="toolbarback">
    <!-- <ion-icon style="float:left;width:50px;height:30px;color:#949492;" name="ios-arrow-back" (click)='canGoBack()'>
    </ion-icon> -->
    <img style="float:left;width:30px;height:30px;color:#949492;" src="assets/icons/back.png" (click)='canGoBack()'>
    <ion-title id="animated">账户消息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content-bottom">

    <div class="con-details">
      <div class="con-top">
        <div class="title-left">金币到账提醒</div>
        <div class="title-right">12:05</div>

      </div>
      <div class="body-left">
        <div class="body-logo">
          <img src="assets/img/coin.png" alt="">
        </div>
        <div class="desc">
          恭喜你成功订阅该课程，1个金币已到账，请查收！
        </div>
      </div>

    </div>
    <!--  -->
    <div class="con-details">
      <div class="con-top">
        <div class="title-left">金币到账提醒</div>
        <div class="title-right">12:05</div>

      </div>
      <div class="body-left">
        <div class="body-logo">
          <img src="assets/img/coin.png" alt="">
        </div>
        <div class="desc">
          恭喜你成功订阅该课程，1个金币已到账，请查收！
        </div>
      </div>

    </div>
    <!--  -->
    <div class="con-details">
      <div class="con-top">
        <div class="title-left">金币到账提醒</div>
        <div class="title-right">12:05</div>

      </div>
      <div class="body-left">
        <div class="body-logo">
          <img src="assets/img/coin.png" alt="">
        </div>
        <div class="desc">
          恭喜你成功订阅该课程，1个金币已到账，请查收！
        </div>
      </div>

    </div>

    <!--  -->
    <div class="con-details">
      <div class="con-top">
        <div class="title-left">金币到账提醒</div>
        <div class="title-right">12:05</div>

      </div>
      <div class="body-left">
        <div class="body-logo">
          <img src="assets/img/coin.png" alt="">
        </div>
        <div class="desc">
          恭喜你成功订阅该课程，1个金币已到账，请查收！
        </div>
      </div>

    </div>

    <!--  -->
  </div>

</ion-content>