

.ad{
   width: 100%;
  // height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
   object-fit: cover;
    width: 100%;
    // max-height: 240px;
  }
ion-slide img {
  //  object-fit: cover;
   object-fit: fill;
    // height: 220px;
    width: 100%;
  }
} 

.top-both{
  width: 100%;
  display: flex;
.title-course{
    width: 75%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    font-size: 25px;
    color: #343434;
    font-weight: 600;
    float: left;
}
.body-eyes{
  width:30%;
  height: 60px;
 display: flex;
 justify-content: center;
 align-items: center;
 span{
   font-size: 13px;
 }
}

}

.todelete{
  width:15%;
  float: right;
  margin-right: 5%;
  display: flex;
  justify-content: flex-end;
  padding-left: 10px;
  color: rgba(243,54,124,1);
  font-size: 15px;

}

 .con-botom{
     width:100%;
    display: flex;
    justify-content: center;


       .body-left1{
    width:100%;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
        .body-logo{
         
         
          img{
             border-radius: 50%;
            width:40px;
            height: 40px;
          }

        }

        .body-nickname{
          padding-left: 5px;
   
       display: flex;
       font-size: 15px;
       align-items: center;
       justify-content: center;
        }

          }
      .body-left{
    width:60%;
    display: flex;
    // justify-content: center;
    padding: 5px;
        .body-logo{
         
         
          img{
             border-radius: 50%;
            width:40px;
            height: 40px;
          }

        }

        .body-nickname{
          padding-left: 5px;
   
       display: flex;
       font-size: 15px;
       align-items: center;
       justify-content: center;
        }

          }
      .body-right{
        margin-left:10px; 
        display: flex;
        justify-content: center;
        align-items: center;
   
   display: flex;

   .perStyleActive{
      margin-right: 10px;
       display: flex;
       color: rgba(243,54,124,1);
       justify-content:center;
       align-items: center;
       font-size: 14px;
     border-radius: 15px 15px 15px 15px ;
       width: 45px;
       height: 30px;
    //  border: 1px solid rgba(243,54,124,1);
   }
   .add-like{
       margin-right: 10px;
       display: flex;
       justify-content:center;
       align-items: center;
       font-size: 14px;
     border-radius: 15px 15px 15px 15px ;
       width: 45px;
       height: 30px;
     border: 1px solid rgba(243,54,124,1);
        // border: 2px dashed #949492;


   }
icon{
  width: 30px;
  height: 30px;
}
.num{
 
  color: #949492;
  font-size: 12px;
}
      }

 
   }

   .desc-video{
       width:100%;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    margin-left: 10px;


    .body-logo{
        img{
            width: 25px;
            height: 25px;;
        }

    }
    .body-nickname{
        font-size: 16px;
        color: #949492;
    }

    .desc-makeup{
          font-size: 16px;
        color: #343434;
        // text-decoration:line-through;
    }

   }

   
  .btns-teaching{
    width: 90%;
    display: flex;
    justify-content:space-between ;
   margin:15px;
   height: 45px;;
    border: 1px solid rgba(243,54,124,1);
    border-radius: 30px 30px 30px  30px ;
    align-items: center;
    .recom{
       width: 20%;
       display: flex;
    justify-content:center;
       color: rgba(243,54,124,1);
       font-size: 22px;
       font-weight: 600;
       margin-left: 15px;
    }
    .categrory{
         display: flex;
    justify-content:center;
        width: 20%;
       color: rgba(243,54,124,1);
       font-size: 16px;
       margin-right: 15px;
    }

  
  }
  .tips{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    //   flex-direction: column;
     height: 50px;
    //   background-color: rgba(243,54,124,1); 
    
    
        .title{
            width: 90%;
            background-color: rgba(243,54,124,1); 
            color: #fff;
            font-size: 20px;
            display: flex;
            height: 40px;
            justify-content: center;
            align-items: center;

        }
      .title1{
          width: 90%;
          background-color: rgba(243,54,124,1); 
           color: #fff;
           font-size: 20px;
           display: flex;
           height: 40px;
           justify-content: center;
           align-items: center;

      }
      img{
          width: 100%;
          height: 50px;;
      }
      
  }

  // 教程详情
  // 步骤内容
.body-steps{
    margin-top: 20px;
     width: 100%;
    display: flex;
     justify-content: center;
    align-items: center;
    flex-direction: column;


    .per-step{
      margin-top: 10px;
        padding:5px;
        border: 1px solid #f5f5f5;
        border-radius: 15px 15px 15px 15px;

         width: 95%;
    display: flex;
     justify-content: center;
    align-items: center;
    flex-direction: column;

    // 删除
    .delete-steps{
          width: 100%;
    display: flex;
     justify-content: flex-end;
    //  right: 0;
    align-items: center;
    // flex-direction: column;
    // border-radius: 50%;
    // border: 1px solid #f5f5f5;
    .top-img{
         width: 10%;
         display: flex;
     justify-content: center;
    align-items: center;

        img{
            width: 20px;
            height: 20px;
        }
    }

        .tips-btn{
             display: flex;
     justify-content: center;
    align-items: center;
            width: 20%;
            font-size: 14px;
            color: #F3367C;
            // background-color: #f5f5f5;

        }

    }

        .per-top{
          margin-top: 10px;
             width: 90%;
            //  padding: 10px;
    display: flex;
     justify-content: flex-start;
    align-items: center;
    // border-bottom: 1px solid rgba(238,238,238,1);
           
            input{
        color: #3D3D40;
        width: 90%;
        height: 25px;
        font-size: 16px;
        border: #fff;
        
            }

        }
        .per-mid{
            // padding: 10px;
            margin-top: 10px;
              width: 90%;
    display: flex;
     justify-content: center;
    align-items: center;
   
        
            img{
              min-width: 220px;
               min-height: 220px;
            }
        }
         .btn-first{
             width: 100%;
             display: flex;
                 transform: translateX(70%) translateY(-120%);
        // width: 50px;
        // height: 40px;
        
      img{
          width: 60px;
          height: 35px;;
      }
    }
        .per-bottom{
            // margin-top:10px; 
              width: 90%;
    display: flex;
     justify-content: flex-start;
    align-items: center;
            textarea{
                padding: 10px;
                height: 100px;
                width:90%;
                font-size: 14px;
                  color: #3D3D40;
                  // border: 1px solid rgba(238,238,238,1);
border: #fff;
            }
        }


          // 视频
    .teach-video {
      border: 1px solid #f5f5f5;
      margin-top: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .img-top {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        right: 0;
        height: 30px;
        .tips-first {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25%;
          font-size: 14px;
          color: #f3367c;
        }

        .to-delete {
          display: flex;
          justify-content: center;
          align-items: center;
          // margin-top:5px;
          //  margin-left: 90%;
          // margin-bottom: -15px;
          width: 10%;
          height: 25px;
          opacity: 0.8;
          img {
            width: 25px;
            height: 25px;
          }
        }
      }
    
      .video-per {
        margin-top: 10px;
        width: 90%;
        height: 200px;
        video {
          max-width: 100%;
          height: 200px;
        }
      }
    }


    }

}

//   商品

.goods-body{
   
    display: flex;
     overflow-x: scroll;
     .goods-per{
         width: 230px;
         display: flex;
         justify-content: flex-start;
         align-items: center;
         background-color: #f5f5f5;
         border: 1px solid #fff;
         border-radius: 10px 10px 10px 10px;
        margin: 10px;
        padding: 10px;
         .goods-left{
             width:80px ;
             display: flex;
             img{
                 width: 70px;
                 height: 70px;
                 border-radius: 5px 5px 5px 5px  ; 
             }

         }
         .goods-right{
             width:140px;
             display: flex;
             flex-direction: column;

             .goods-title{
                 width: 100%;
                 font-size: 16px;
                 color: #343434;
                 font-weight: 500;



             }
             .goods-type{
                 width: 100%;
                 display: flex;
                 justify-content: flex-start;
                 align-items: center;
               

                .type-con{
                    width: 80px;
                    font-size: 14px;
                 color: #fff;
              background-color: rgba(243,54,124,1);
                border-radius: 5px 5px 5px 5px;
                }

             }
             .goods-price{
                 width: 100%;
                 
               display: flex;

                 .price-new{
                      font-size: 12px;
             
                 color: rgba(243,54,124,1);

                 }
                 .price-old{
                       font-size: 12px;
             
                 color: #949492;
                   text-decoration:line-through;

                 }
             }

         }
     }


}

// 评论
.comments-body{
  margin-bottom: 50px;
    width: 100%;
    background-color: #f5f5f5;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    .comm-top{
        width: 100%;
        display: flex;

        .comm-left{
            // width: 30%;
            display: flex;
            .logo-comm{
                img{
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                }

            }
            .nick-comm{
                // 
                padding-left:5px;
                padding-right: 5px;
                display: flex;
                align-items: center;
                justify-content:flex-start;
                color: #949492;
                font-size: 14px;

            }

        }
        .comm-right{
            // width: 80%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
              color: #949492;
                font-size: 14px;

        }

    }
    .comm-bottom{
            width: 100%;
              color: #949492;
                font-size: 18px;
    }
}

.btn-bottom{
  z-index:10000;
  margin-top: 20px;
  height: 50px;
    position: fixed;
    bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


  .btn-send{
     display: flex;
  justify-content: center;
  align-items: center;
    background-color: rgb(212, 36, 101);
    color: #fff;
    font-size: 16px;
    width: 50%;
    height: 30px;;
    border-radius: 10px   10px  10px  10px;

  }

}

// 底部按钮
  .bottom-btn{
      display: flex;
      width: 100%;
      position: fixed;
      bottom: 0;


      .bottom-left{
          display: flex;
          width: 30%;
          height: 50px;
            justify-content: center;
          align-items: center;
          

      }
      
      .bottom-right{
            height: 50px;;
           display: flex;
          width: 70%;
          height: 50px;
          justify-content: center;
          align-items: center;

          .btn-left{
               justify-content: center;
          align-items: center;
                display: flex;
                width: 50%;
                   height: 50px;
                background-color: #F671A2;
                font-size: 20px;
                color: #fff;
                




          }
          .btn-right{
               justify-content: center;
          align-items: center;
                display: flex;
                   width: 25%;
                      height: 50px;
                 background-color: #F3367C;
                  font-size: 18px;
                color: #fff;

          }
          .btn-price{
               justify-content: center;
          align-items: center;
               display: flex;
                   width: 25%;
                   height: 50px;
                 background-color: #F3367C;
                  font-size: 18px;
                  text-decoration:line-through;
                color:   rgba(249,155,190,1);
          }

      }


  }
  .bottom-send{
    margin-bottom: 25px;
    display: flex;
    width: 100%;
    // position: fixed;
    // bottom: 0;
    padding: 5px;
    button {
      /* border: 1px solid #0894ec; */
      /* color: #0894ec; */
      text-decoration: none;
      text-align: center;
      display: block;
      border-radius: .25rem;
      line-height: 1.25rem;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      background: 0 0;
      padding: 0 .5rem;
      margin: 0;
      height: 1.35rem;
      white-space: nowrap;
      position: relative;
      text-overflow: ellipsis;
      font-size: .7rem;
      font-family: inherit;
      cursor: pointer;
  }
  }
 