<ion-header>
    <ion-toolbar class="toolbarback">
      <!-- <ion-icon style="float:left;width:50px;height:30px;color:#949492;" name="ios-arrow-back" (click)='canGoBack()'>
      </ion-icon> -->
      <img style="float:left;width:30px;height:30px;color:#949492;" src="assets/icons/back.png" (click)='canGoBack()'>
      <ion-title id="animated">订单详情</ion-title>
    </ion-toolbar>

</ion-header>
<ion-content class="help-content">
    <div class="card">
        <div class="card-content">
          <div class="card-content-inner">
              <ion-row>
                  <ion-col size='3'>
                    <img src="../../assets/settings/food.png" alt="">
                  </ion-col>
                  <ion-col size='9'>
                    <div class="done">已完成</div>
                    <div>申通快递 <span>321654626658461658</span></div>
                  </ion-col>
                </ion-row>
          </div>
        </div>
      </div>
    <div class="card">
        <div class="card-content">
          <div class="card-content-inner">
              <ion-row>
                  <ion-col size='3'>
                    <img src="../../assets/settings/food.png" alt="">
                  </ion-col>
                  <ion-col size='9'>
                    <div class="done">已完成</div>
                    <div>申通快递 <span>321654626658461658</span></div>
                  </ion-col>
                </ion-row>
          </div>
        </div>
      </div>


</ion-content>
