<ion-header>
  <ion-toolbar>
    <!-- <ion-icon style="float:left;width:50px;height:30px;color:#949492;" name="ios-arrow-back" (click)='canGoBack()'></ion-icon> -->
    <img style="float:left;width:30px;height:30px;color:#949492;" src="assets/icons/back.png" (click)='canGoBack()'>
    <ion-title id="animated">帮助与客服</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <div *ngFor="let item of messageList;let i = index">
    <ion-row class="contentStyle">
      <ion-col size='12'>
        <div class="card">
          <div class="card-content">
            <div class="card-content-inner">
              {{item.Content}}
              <br>
              {{item.Answer}}
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
<div class="company" *ngIf="isPhone"> 联系电话：{{phonearea}}-{{phone}}</div>
<div class="company" *ngIf="isArea"> 联系地址：{{area}}</div>
  <div class="tips">
    <div class="title" (click)="callService()">
      联系客服
    </div>
  </div>
</ion-content>
