.nim{
    padding: 0 10px;
}
.nim-p{
    padding: 15px 0;
    
}
.nim-p span{
   display: inline-block;
    line-height: 10px;
}
.blank{
    background: #F2F3F5;
    height: 10px;
}
.serve{
    padding: 40px 10px;
}