<ion-header>
  <!-- <ion-toolbar>
    <ion-title>courseAlive</ion-title>
  </ion-toolbar> -->
    <ion-toolbar class="toolbarback">
      <!-- <ion-icon style="float:left;width:50px;height:30px;color:#949492;" name="ios-arrow-back" (click)='canGoBack()'>
      </ion-icon> -->
      <img style="float:left;width:30px;height:30px;color:#949492;" src="assets/icons/back.png" (click)='canGoBack()'>
      <ion-title id="animated">课程直播</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>

</ion-content>
