.bottom-none{
  width: 100%;
  // margin-top: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;


  .top-title1{
 width: 80%;
 margin-top: 130px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 22px;
 color: #33342F;

  }
  .top-title2{
    width: 90%;
 margin-top: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 14px;
 color: #33342F;

  }
  .bottom-btn{
   width: 100%;
  margin-top: 20px;
  display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;

    .btn-login-wechat{
      margin-top: 20px;
      color: #fff;
      display: flex;
 justify-content: center;
 align-items: center;
      width:85%;
      height: 40px;
      font-size: 16px;
      background-color:#81BB60;


    }
    .btn-login-phone{
      margin-top: 10px;
       color: #fff;
    display: flex;
 justify-content: center;
 align-items: center;
      width:85%;
      height: 40px;
      font-size: 16px;
      background-color:#F3367C;


    }

  }

}





.example-container {
    width: 100%;
    height: 100%;
    background: white;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
   
  }
  
  .example-sidenav {
    padding: 20px;
  }
  .lists img{
    vertical-align: middle;
    margin:2px 10px 0 0;
  }
  .lists>.mat-list-item{
    margin: 10px 0;
  }
  .lists .btn{
    border-radius: 30px;
    margin-right: 10px;
  }
  .logo{
      border-radius: 50%;
      width: 88px;
      height: 88px;
      vertical-align: middle;
     
  }
  .myHead{
    margin-top: 20px;
      font-size: 14px;
      text-align: center;
  }
  .myHead span{
     color: #929292;
  }
  .mat-stroked-button{
      border-radius: 30px;
     
  }
  .mat-stroked-button:first-child{
      width: 75px;
      margin-right:10px;
  }
  .message{
    font-size: 14px;
    padding-top: 15px;
    padding-left: 10px;
  }
  .body-tab{
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 8px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .clickAlive {
      margin-left: 5px;
      font-size: 14px;
      color: #d8505c;
      border:1px solid #d8505c;
      width: 90px;
      justify-content: center;
      display: flex;
      border-radius: 0.2rem;
    }
    .clickAlive1 {
      margin-left: 10px;
      font-size: 14px;
      color: #d8505c;
      border-bottom:1px solid #d8505c;
      width: 50px;
      justify-content: center;
      display: flex;
    }
  }


  .body-tab1 {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .clickAlive {
      margin-left: 5px;
      font-size: 14px;
      color: #d8505c;
      border-bottom:1px solid #d8505c;
      width: 90px;
      justify-content: center;
      display: flex;
    }
     .clickAlive1{
      margin-left: 10px;
      font-size: 14px;
      color: #d8505c;
      border-bottom:1px solid #d8505c;
width: 50px;
justify-content: center;
    display: flex;

    }
  }
  .message span{
     margin: 0 5px;
  }
  .line{
      color: #929292;
  }
  .message span:first-child{
    color: #F3367C;
 }

 
    .mat-tab-group .mat-ink-bar {
        background-color: #F3367C !important;
    }
.tabs{
    font-size: 18px;
}
ul li{
  list-style: none;
}
.goods{
  margin: 10px 5px;
  width: 47%;
  float: left;

}
.goods>div{
  padding-left: 10px;
}
.step1{
  width: 100%;
  height: 160px;
  margin:15px 0;
}
.step2{
  font-weight: bold
}
.step3{
  color: #929292;
}
.goods>div span{
 display: inline-block;
 width: 40px;
 color: white;
 height: 20px;
 font-size: 12px;
 background: #F3367C;
 line-height: 20px;
 text-align: center;
 margin: 3px 0;
}
.step4{
  color: red;
}
.focus-logo{
  height: 50px;
  width: 50px;
  border-radius: 50%;

}
.focus-name{
  font-size: 14px;
  
}
.focus-name div:nth-child(2){
  color: #929292;
  margin: 10px 0;
}
.focus-btn{
  margin-top: 10px;
  margin-left: 30px;
}

.collection .buttons-tab .button {
  color: #5f646e;
  font-size: 14px;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  border: 0;
  border-bottom: 1.5px solid transparent;
  border-radius: 0;
}
.collection .buttons-tab .button.active {
  color: black;
  border-color: #F3367C;
  z-index: 101;
}
.content-block {
  margin: 0.75rem 0;
  padding: 0px ;
  color: #6d6d72;
  z-index: 1000;
}
 
.collection2 .buttons-tab .button {
  color: #5f646e;
  font-size: 14px;
  width: 50%;
  height: 2rem;
  line-height: 2rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  border: 0;
  
  border-radius: 0;
}
.collection2 .buttons-tab .button.active {
  color:#F3367C;
 
  z-index: 100;
}

 .mat-raised-button.mat-accent {
    background-color: #ff4081;
}

.mat-raised-button.mat-accent {
    color: #fff;
}

 .mat-raised-button, .mat-stroked-button {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.mat-drawer:not(.mat-drawer-side) {
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
}
.mat-drawer {
    background-color: #fff;
    color: rgba(0,0,0,.87);
}
.mat-stroked-button {
    border: 1px solid currentColor;
    padding: 0 10px;
    line-height: 30px;
}
.mat-flat-button:not([class*=mat-elevation-z]), .mat-stroked-button:not([class*=mat-elevation-z]) {
    box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);
}
.mat-stroked-button:not([disabled]) {
    border-color: rgba(0,0,0,.12);
}
.mat-button, .mat-icon-button, .mat-stroked-button {
    color: inherit;
    background: 0 0;
}

.botomo-content{
  // margin-top: 15px;
     width: 97%;
    
       display:inline-block;
       float:left;

.masonry {
    // background-color: #f5f5f5;

    -moz-column-count: 2;
    /* Firefox */
    -webkit-column-count: 2;
    /* Safari 和 Chrome */
    column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 0;
    width: 99%;
    margin: 10px;
  }

  .item {
    background-color: #fff;
    // border: 3px solid #f7f7f7;
    border-radius: 10px 10px 10px 10px;
    padding: 0.6em;
    margin-bottom: 0.4em;
    width: 95%;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    white-space: normal;

      .delete{
        z-index: 1000;
        margin-left: 116px;
        width: 40px;
       height: 40px;
        margin-bottom: -45px;
        opacity: 0.8;
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

    }
    img {
      max-width: 100%;
    }
.desc{
  color: #33342F;
  font-size: 15px;
}
    .bottom-info {
      width: 100%;
      display: flex;

      .left-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height:30px;
        img {
          border-radius: 50%;

          width: 30px;
          height: 30px;
        }
      }
      .right-nickname {
        width: 40%;
        padding-left: 5px;
        // display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
        color: #949492;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.8rem;
      }

       .body-eyes{
       color: #33342f;
  width:40%;
// margin-left: 30px;
    font-size: 11px;
 display: flex;
 justify-content: center;
 align-items: center;
 span{
   font-size: 11px;
 }
 icon{
    width: 30px;
    height: 30px;
    color: #33342f;
 }

 
}
    }
  }









       .bofy-none{
         margin-top: 20px;
         padding: 15px;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;

         
         .img-none{
             display: flex;
         justify-content: center;
         align-items: center;
           width: 100%;

           img{
             width: 150px;
             height: 150px;;

           }

         }
         .tips-none{
             display: flex;
         justify-content: center;
         align-items: center;
           width: 100%;
           font-size: 16px;
           color: #949492;

         }
       }
.body-pics{
  width: 50%;
  display: inline-flex;
    flex-direction: column;
    justify-content:center;
    padding: 5px;
    .img-con{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      // height: 220px;
      img{
        max-width: 90%;
        max-height: 220px;
        
      }
    }
     .desc{
     width:100%;
     padding-left: 10px;
     color:#33342F;
     font-size: 14px;

  }
   .con-botom{
     width:100%;
    display: flex;
    justify-content: center;

      .body-left{
    // width:60%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
        .body-logo{
          width: 50px;
         
          img{
             border-radius: 50%;
            width:40px;
            height: 40px;
          }

        }

        .body-nickname{
          // padding-left: 5px;
          width: 100px;
          display: flex;
          font-size: 12px;
          align-items: center;
          justify-content: flex-start;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

          }
      .body-right{
        margin-left:10px; 
        display: flex;
        justify-content: center;
        align-items: center;
    width: 80px;
   display: flex;
   .iconLike{
     color: red;
   }
icon{
  width: 30px;
  height: 30px;
}
.num{
 
  color: #949492;
  font-size: 12px;
}
      }

 
   }


  }


  .shop {
    .shopStyle {
      margin-top: 10px;
      img {
        width: 50px;
        height: 50px;
        // border-radius: 20px;
        margin-left: 15px;
      }
      .shopNameStyle {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        position: absolute;
        margin-left: 20px;
      }
    }
  }
}
header.toolbar{
  text-align: center;
  border-bottom: 1px solid #f5f5f5;
  background: #fff;
  color:#3d4145;

}
.icon_check_style {
  width: 0.8rem;
  height: 0.5rem;
}
.icon_style {
  height: 1rem;
  width: 1rem;
}