<ion-header>
  <!-- <ion-toolbar>
    <ion-title>商品列表</ion-title>
  </ion-toolbar> -->
  <ion-toolbar class="toolbarback">
    <!-- <ion-icon style="float:left;width:50px;height:30px;color:#949492;" name="ios-arrow-back" (click)='canGoBack()'>
    </ion-icon> -->
    <img style="float:left;width:30px;height:30px;color:#949492;" src="assets/icons/back.png" (click)='canGoBack()'>
    <ion-title id="animated">商品列表</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content id="home">
  <div>
    <!--头部搜索栏-->
    <div id="headerBar" class="headerBar">
      <!-- <div #headBgColor id="headerBar-bg"></div> -->
      <div class="headerBar-logo">
        <!-- <i></i> -->
        <!-- 购物车 -->

        <img src="assets/img/cart.png">
      </div>
      <a class="headerBar-search">
        <div class="search-icon">
          <img src="assets/img/search.png">
        </div>

        <div class="search-input">
          <input maxlength="20" autocomplete="true" value="搜索商品" />
        </div>
      </a>
      <a class="headerBar-login">


        <img src="assets/img/message.png">
      </a>
    </div>
  </div>

  <!-- 商品列表 -->

  <div class="botomo-content">
    <div class="body-pics">
      <div class="img-con">
        <img src="assets/img/red.png" alt="">
      </div>
      <div class="desc-name">韩国雪花秀气垫BB霜</div>
      <div class="desc">紧致皮肤经典保湿气垫美白遮瑕</div>
      <div class="desc-post">包邮</div>
      <div class="con-botom">

        <div class="body-left">
          <div class="body-logo">
            ￥256
          </div>
          <div class="body-nickname">￥699</div>

        </div>
        <div class="body-right">
          <img src="assets/img/store.png" alt="">
          <!-- <ion-icon name="heart-empty"></ion-icon> -->
          <!-- <div class="num"> 325 </div> -->
        </div>
      </div>
    </div>

    <div class="body-pics">
      <div class="img-con">
        <img src="assets/img/pink.png" alt="">
      </div>
      <div class="desc-name">韩国雪花秀气垫BB霜</div>
      <div class="desc">紧致皮肤经典保湿气垫美白遮瑕</div>
      <div class="desc-post">包邮</div>
      <div class="con-botom">

        <div class="body-left">
          <div class="body-logo">
            ￥256
          </div>
          <div class="body-nickname">￥699</div>

        </div>
        <div class="body-right">
          <img src="assets/img/store.png" alt="">
          <!-- <ion-icon name="heart-empty"></ion-icon> -->
          <!-- <div class="num"> 325 </div> -->

        </div>
      </div>
    </div>
    <div class="body-pics">
      <div class="img-con">
        <img src="assets/img/black.jpg" alt="">
      </div>
      <div class="desc-name">韩国雪花秀气垫BB霜</div>
      <div class="desc">紧致皮肤经典保湿气垫美白遮瑕</div>
      <div class="desc-post">包邮</div>
      <div class="con-botom">

        <div class="body-left">
          <div class="body-logo">
            ￥256
          </div>
          <div class="body-nickname">￥699</div>

        </div>
        <div class="body-right">
          <img src="assets/img/store.png" alt="">
          <!-- <ion-icon name="heart-empty"></ion-icon> -->
          <!-- <div class="num"> 325 </div> -->

        </div>
      </div>
    </div>
    <div class="body-pics">
      <div class="img-con">
        <img src="assets/img/white.jpg" alt="">
      </div>
      <div class="desc-name">韩国雪花秀气垫BB霜</div>
      <div class="desc">紧致皮肤经典保湿气垫美白遮瑕</div>
      <div class="desc-post">包邮</div>
      <div class="con-botom">

        <div class="body-left">
          <div class="body-logo">
            ￥256
          </div>
          <div class="body-nickname">￥699</div>

        </div>
        <div class="body-right">
          <img src="assets/img/store.png" alt="">
          <!-- <ion-icon name="heart-empty"></ion-icon> -->
          <!-- <div class="num"> 325 </div> -->

        </div>
      </div>
    </div>

  </div>



</ion-content>