<ion-header>
  <ion-toolbar>
    <ion-title>listTest1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="content content--center">
  <div class="grid grid--type-a">
    <div class="grid__sizer"></div>
    <div class="grid__item">
      <img class="grid__img" src="assets/img/set1/1.jpg" alt="Some image" />
      <div>sasasasdddddddddddddddddddd</div>
    </div>
    <div class="grid__item">
      <!-- assets/settings/store.png -->
      <img class="grid__img" src="assets/img/set1/2.jpg" alt="Some image" />
    </div>
    <div class="grid__item">
      <img class="grid__img" src="assets/img/set1/3.jpg" alt="Some image" />
    </div>
    <div class="grid__item">
      <img class="grid__img" src="assets/img/set1/4.jpg" alt="Some image" />
    </div>
    <div class="grid__item">
      <img class="grid__img" src="assets/img/set1/5.jpg" alt="Some image" />
    </div>
    <div class="grid__item">
      <img class="grid__img" src="assets/img/set1/6.jpg" alt="Some image" />
    </div>
    <div class="grid__item">
      <img class="grid__img" src="assets/img/set1/7.jpg" alt="Some image" />
    </div>
    <div class="grid__item">
      <img class="grid__img" src="assets/img/set1/8.jpg" alt="Some image" />
    </div>
    <div class="grid__item">
      <img class="grid__img" src="assets/img/set1/9.jpg" alt="Some image" />
    </div>
    <div class="grid__item">
      <img class="grid__img" src="assets/img/set1/10.jpg" alt="Some image" />
    </div>
    <div class="grid__item">
      <img class="grid__img" src="assets/img/set1/11.jpg" alt="Some image" />
    </div>
    <div class="grid__item">
      <img class="grid__img" src="assets/img/set1/2.jpg" alt="Some image" />
    </div>
    <div class="grid__item">
      <img class="grid__img" src="assets/img/set1/4.jpg" alt="Some image" />
    </div>
    <div class="grid__item">
      <img class="grid__img" src="assets/img/set1/8.jpg" alt="Some image" />
    </div>
    <div class="grid__item">
      <img class="grid__img" src="assets/img/set1/10.jpg" alt="Some image" />
    </div>
    <div class="grid__item">
      <img class="grid__img" src="assets/img/set1/1.jpg" alt="Some image" />
    </div>
  </div>
</div>

</ion-content>
