.welcome-card {
  margin-top: 20px;
}

.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

/*头部搜索栏*/
#home .headerBar {
  background-color: #fff;
  padding-top: 10px;
  // background-color: transparent;
  // position: fixed;
  z-index: 2;
}

#home .headerBar-logo {
  width: 15%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .headerBar-logo img {
  height: 18px;
  width: 18px;
}

#home .headerBar-search {
  width: 80%;
  height: 30px;
  margin-top: 7px;
  color: #989191;
  background-color: #f4f4f4;
  border-radius: 15px;
  line-height: 29px;
  text-align: center;
}

.input_style {
  border-radius: 1rem;
  font-size: 14px;
}

// #home .headerBar-search span {
//   display: inline-block;
//   height: 20px;
//   width: 20px;
//   // background-color:red;
//   background: url("https://baizhanke-1253522040.cos.ap-chengdu.myqcloud.com/5d15967f-b59b-4f6d-b4fa-7284bd85cba4.png")
//     no-repeat;
//   background-position: -60px -109px;
//   background-size: 200px 200px;
//   margin-left: 5px;
//   margin-top: 3px;
// }

#home .headerBar-search div {
  display: inline-block;
  height: 100%;
  width: auto;
  line-height: 40px;
}
#home .headerBar-search div input {
  border: 0;
  display: inline-block;
  background: 0;
  font-size: 13px;
  line-height: 1.2em;
  height: 1.4em;
  width: 100%;
  vertical-align: middle;
  margin-top: -15px;
  color: #989191;
}

#home .headerBar-login {
  justify-content: center;
  display: flex;
  width: 15%;
  height: 35px;
  align-items: center;
  color: #f3367c;
  // right: 17px;
}

#home .headerBar-login img {
  width: 25px;
  height: 25px;
}

#home .headerBar-login span {
  margin-top: 7px;
  color: #f3367c;
  font-size: 15px;
  display: inline-block;
}

#home .ad ion-slide img {
  object-fit: fill;
  height: 220px;
  width: 100%;
}
.ad {
  background-color: #fff;
  //  margin-top: 20px;
  height: 220px;
}

.mid-con {
  background-color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mid-con .title-like {
  margin-right: 20px;
  display: flex;
  color: #33342f;
  border-bottom: 2px solid #f3367c;
  font-size: 16px;
}
.mid-con title-recommend {
  display: flex;
  color: #949492;
  font-size: 16px;
  border-bottom: 2px solid blue;
}

.con-sign {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(243, 54, 124, 1);
  opacity: 1;
  border-radius: 15px 0 0 15px;
}
.con-sign .iocn-sign {
  padding-left: 5px;
  width: 18px;
  height: 18px;
}
.title-sign .con-sign .tips-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 30px;
  color: #fff;
}
.title-sign {
  font-size: 13px;
  margin-bottom: -40px;
  background-color: #fff;
  //  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #fff;

  align-items: center;

  height: 50px;
}

.title-sign .tips-sign {
  width: 80px;
  height: 30px;
  background: rgba(243, 54, 124, 1);
  opacity: 1;
  border-radius: 15px 0 0 15px;
}

.body-tab {
  color: #33342f;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 45px;
  align-items: center;
  .clickAlive {
    margin-left: 10px;
    font-size: 16px;
    color: #d8505c;
    border-bottom: 1px solid #d8505c;
    width: 50px;
    justify-content: center;
    display: flex;
  }
  .clickAlive1 {
    margin-left: 10px;
    font-size: 18px;
    color: #d8505c;
    border-bottom: 1px solid #d8505c;
    width: 50px;
    justify-content: center;
    display: flex;
  }
}
.mid-con {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  .title-like {
    justify-content: center;
    align-items: center;
    width: 50px;
    padding: 5px;
    //  margin-right: 20px;
    display: flex;
    color: #33342f;
    border-bottom: 2px solid #f3367c;
    font-size: 16px;
  }

  .title-recommend {
    justify-content: center;
    align-items: center;
    width: 50px;
    display: flex;
    color: #949492;
    font-size: 16px;
    padding: 5px;
    // border-bottom: 2px solid blue;
  }

  .title-like1 {
    justify-content: center;
    align-items: center;
    width: 50px;
    padding: 5px;
    //  margin-right: 20px;
    display: flex;
    color: #33342f;

    font-size: 16px;
  }

  .title-recommend1 {
    justify-content: center;
    align-items: center;
    width: 50px;
    display: flex;
    color: #949492;
    font-size: 16px;
    padding: 5px;
    border-bottom: 2px solid #f3367c;
    // border-bottom: 2px solid blue;
  }
}

.btns-teaching {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .recom {
    width: 20%;
    display: flex;
    justify-content: center;
    color: #232323;
    font-size: 18px;
  }
  .categrory {
    display: flex;
    justify-content: center;
    width: 20%;
    color: #949492;
    font-size: 18px;
  }
}
/*商品展示*/
#home .floor {
  width: 100%;
  margin: 0 5px 5px;
  background-color: #fff;
  box-shadow: 0 1px 1px #dcdcdc;
  overflow: hidden;
  display: flex;
}
#home .floor-title {
  font-size: 15px;
  padding-top: 8px;
  padding-left: 7px;
  padding-bottom: 5px;
}
#home .floor-title:before {
  display: inline-block;
  content: "";
  width: 3px;
  height: 12px;
  background-color: #d8505c;
  margin: 1px 7px 0 0;
}
#home .floor-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.botomo-content {
  width: 100%;
  margin-top: 25px;
  // display: inline-block;
  // float: left;
  .nomore {
    // margin-top: -30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    color: #33342f;
    font-size: 13px;
    background: #F8F8F8;
  }
  .bofy-none {
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .img-none {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      img {
        width: 150px;
        height: 150px;
      }
    }
    .tips-none {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      font-size: 16px;
      color: #949492;
    }
  }

  // .masonry {
  //   // background-color: #f5f5f5;

  //   -moz-column-count: 2;
  //   /* Firefox */
  //   -webkit-column-count: 2;
  //   /* Safari 和 Chrome */
  //   column-count: 2;
  //   -moz-column-gap: 1em;
  //   -webkit-column-gap: 1em;
  //   column-gap: 0;
  //   width: 99%;
  //   margin: 10px;
  // }

  .masonry{
    overflow: hidden;
    background: #F8F8F8;
    .item{
      float: left;
      width: 47%;
      margin-left: 2%;
      margin-top: 10px;
      background: #fff;
      padding-bottom: 5px;
      border-radius: 5px;
      img {
        max-width: 100%;
        border-radius: 5px;
      }
      .desc {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #33342f;
        font-size: 15px;
      }
      .bottom-info {
        width: 100%;
        display: flex;
        height: 30px;
        .left-logo {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          img {
            border-radius: 50%;
            width: 30px;
            height: 30px;
          }
        }
        .right-nickname {
          width: 40%;
          padding-left: 5px;
          // display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: 12px;
          color: #949492;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 1.8rem;
        }
  
        .body-eyes {
          color: #33342f;
          width: 40%;
          // margin-left: 30px;
          font-size: 11px;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            font-size: 11px;
          }
          icon {
            width: 30px;
            height: 30px;
            color: #33342f;
          }
        }
      }
    }
    .item.right{
      float: right;
      margin-left: 0;
      margin-right: 2%;
    }
  }
  .infinite-scroll-enabled{
    background: #f8f8f8 !important;
  }

  .body-pics {
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    .img-con {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      // height: 220px;
      img {
        max-width: 90%;
        max-height: 220px;
      }
    }
    .desc {
      width: 100%;
      padding-left: 10px;
      color: #33342f;
      font-size: 14px;
    }
    .con-botom {
      width: 100%;
      display: flex;
      justify-content: center;

      .body-left {
        // width:60%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 5px;
        .body-logo {
          width: 50px;

          img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
          }
        }

        .body-nickname {
          // padding-left: 5px;
          width: 100px;
          display: flex;
          font-size: 12px;
          align-items: center;
          justify-content: flex-start;
        }
      }
      .body-right {
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        display: flex;
        .iconLike {
          color: red;
        }
        icon {
          width: 30px;
          height: 30px;
        }
        .num {
          color: #949492;
          font-size: 12px;
        }
      }
    }
  }
}

#home .floor-product-list {
  width: 100%;
  overflow: hidden;
  float: left;
}
#home .floor-product-list img {
  width: 400px;
  display: block;
  border-top: 1px solid #eee;
}
#home .floor-left {
  border-right: 1px solid #eee;
  margin-left: -1px;
}
.demo1 {
  width: 300px;
  overflow: hidden;
}
.demo1 li {
  width: 100px;
  height: 100px;
  float: left;
}
.demo1 img {
  width: 100px;
  height: 100px;
}
/*回到头部滚动条*/
#home .back_top {
  width: 35px;
  height: 35px;
  position: fixed;
  bottom: 55px;
  right: 10px;
  background-color: red;
  // background: url('../../assets/img/scroll-to-top-icon.png') no-repeat;
  //  background-image:url('../assets/img/scroll-to-top-icon.png');

  // background-size: 35px 35px;
  opacity: 1;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  z-index: 100;
}
.toolbarback {
}
:host ::ng-deep {
  #container {
    position: relative;
    .box {
      padding: 5px;
      float: left;
      .box_img {
        padding: 5px;
        border: 1px solid #cccccc;
        box-shadow: 0 0 5px #ccc;
        border-radius: 5px;
        img {
          width: 150px !important;
          height: auto;
        }
      }
      .bottom-info {
        width: 100%;
        display: flex;
  
        .left-logo {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          img {
            border-radius: 50%;
            width: 30px;
            height: 30px;
          }
        }
        .right-nickname {
          width: 40%;
          padding-left: 5px;
          // display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: 12px;
          color: #949492;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 1.8rem;
        }
  
        .body-eyes {
          color: #33342f;
          width: 40%;
          // margin-left: 30px;
          font-size: 11px;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            font-size: 11px;
          }
          icon {
            width: 30px;
            height: 30px;
            color: #33342f;
          }
        }
      }
    }
  }
}
.recommend {
  margin-bottom: -15px;
  background-color: white;
  color: black;
 
  padding-bottom: 0.3rem;
  .recommend_title {
    margin-left: 0.8rem;
    font-weight: 600;
     font-size:20px;
  }
  .recomment_class {
    color: #f3367c;
    margin-right: 1rem;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding: 0.3rem 0.7rem;
    border-radius: 1rem;
    border: 1px solid #f3367c;
  }
}
.icon_style {
  width: 1.3rem;
  height: 0.9rem;
  padding-left: 0.5rem;
}
.icon_check_style {
  width: 0.8rem;
  height: 0.5rem;
}