<ion-header>
  <!-- <ion-toolbar>
    <ion-title>登录</ion-title>
  </ion-toolbar> -->
  <ion-toolbar class="toolbarback">
    <!-- <ion-icon style="float:left;width:50px;height:30px;color:#949492;" name="ios-arrow-back" (click)='canGoBack()'>
    </ion-icon> -->
    <img style="float:left;width:30px;height:30px;color:#949492;" src="assets/icons/back.png" (click)='canGoBack()'>
    <ion-title id="animated">登录</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <!-- <div (click)="presentToast('jajjaja')">hahaaa</div> -->
  <div class="body-login">
    <div class="change-way" (click)="toChangeWay()">
      <div class="to-change">验证码登录</div>
    </div>
    <div class="type-phone">
      <div class="con-type">
        手机密码登录
      </div>

    </div>


      <div class="inp">
        <ion-row>
          <ion-col size='3' [ngStyle]="{lineHeight: '60px',fontSize:'16px'}" >
            +86
          </ion-col>
          <ion-col size="9" [ngStyle]="{lineHeight: '40px',fontSize:'16px'}">
            <ion-input placeholder="请输入11位手机号" minlength="11" maxlength="11" [(ngModel)]="userName" name="number" required>
            </ion-input>
          </ion-col>
        </ion-row>
      
      </div>
        <div class="inp">
          <ion-row>
           
            <ion-col size="12" [ngStyle]="{lineHeight: '40px',fontSize:'16px'}">
              <ion-input   type="password"   placeholder="请输入登录密码" minlength="11" maxlength="11" [(ngModel)]="userPassword" name="number" required>
              </ion-input>
            </ion-col>
          </ion-row>
        
        </div>
    <!-- <div class="body-phone">

      <div class="body-left">
        +86

      </div>
      <div class="body-right">
        <input type="number" maxlength="11" minlength="11" [(ngModel)]="userName" placeholder="输入手机号码" />

      </div>

    </div> -->
    <!-- <div class="body-pass">
      <input type="password" [(ngModel)]="userPassword" placeholder="输入登录密码" />

    </div> -->
    <div class="btn-submit" (click)="goToLogin()">
      <div class="btn-body">登录</div>

    </div>

    <!-- 第三方 -->
    <!-- <div class="tips-others">
      -- 社交账号登录 --
    </div> -->
    <div class="content-top">
      <div class="detail-icon">
        <div class="top-icon" (click)="wechatLogin2()">
          <img src="assets/img/wechat.png" alt="">
        </div>
      </div>
      <!--  <div class="detail-icon">

        <div class="top-icon">
          <img src="assets/img/QQ.png" alt="">
        </div>
       
      </div>
      <div class="detail-icon">
        <div class="top-icon">
          <img src="assets/img/weibo.png" alt="">
        </div>
      </div> -->
    </div>

    <div class="tips-contracts">
      <div class="tips-left" (click)="goToUserRules()">登录注册代表同意用户</div>
      <div class="tips-right" (click)="goToUserRules()">用户协议、隐私政策</div>

    </div>


  </div>

</ion-content>