:host {
    .help-content{
     --background: var(--ion-background-color,#F6F7F9) !important;
     
    }
   .content1{
       background: white;
       margin: 20px 0;
   }
   .content-right{
       font-size: 14px;
       color: #9D9D9D;
   }
   .high{
       padding: 5px ;
   }
   .content2{
       padding: 10px 0;
   }
 }
 [_nghost-c8] .help-content[_ngcontent-c8] {
    --background: var(--ion-background-color,#F6F7F9) !important;
}

.company{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #9D9D9D;
    font-size: 13px;
}
 
 