<ion-header>
  <ion-toolbar>
    <ion-title>teachingCommentsList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="waterfall">
    <div class="item" *ngFor="let image of img_data">
      <div class="item-content">
        <img [src]='image.src' alt="">
      </div>
    </div>
    </div> -->

<!-- <div class="masonry">
  <div class="column"  > 
    <div class="item" *ngFor="let image of img_data">
      <div class="item__content"> 
     
       
          <img [src]='image.src' alt="">
      </div>
    </div>

  </div>
  
    </div> -->

    <div class="body">
      <div class="masonry">
        <div class="item" *ngFor="let item of arr1">
          <div class="item_content content-lar">
            <img [src]="item.src" alt="" />
            <div class="desc">gdfgfd</div>
          </div>
          <div class="bottom-info">
      
            <div class="right-nickname">
              gdfgd
            </div>
            <div class="body-eyes">
              <ion-icon name="eye"></ion-icon>
      
              浏览
            </div>
          </div>
        </div>
      </div>


      <!--  -->


<div class="masonry">
  <div class="item" *ngFor="let item of arr2">
    <div class="item_content content-lar">
      <img [src]="item.src" alt="" />
      <div class="desc">gdfgfd</div>
    </div>
    <div class="bottom-info">

      <div class="right-nickname">
        gdfgd
      </div>
      <div class="body-eyes">
        <ion-icon name="eye"></ion-icon>

        浏览
      </div>
    </div>
  </div>
</div>

</div>
     

</ion-content>
