<ion-header>
    <ion-toolbar>
      <ion-title>输入验证码</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="help-content">
    <div class="tip">
     短信验证码已发送至+86 154656542865,请填写验证码
    </div>
    <div class="content1">
      <ion-row >
        <ion-col size='4' text-left [ngStyle]="{lineHeight:'30px'}">
        当前手机号
        </ion-col>
        <ion-col size='5' text-left class="content-right" [ngStyle]="{lineHeight:'36px'}">
          86 654654654985 
        </ion-col>
        <ion-col size='2' text-left  >
            <button mat-stroked-button>秒数</button>
        </ion-col>
      </ion-row>
    
    </div>
    
  </ion-content>
  