.welcome-card  {
    margin-top: 20px;
   }
   
   .welcome-card ion-img {
     max-height: 35vh;
     overflow: hidden;
   }
   

   #home .haha{
     float: left;
    display: flex;
    width: 120px;
   }
   /*头部搜索栏*/
     #home .headerBar {
       background-color: #fff;
      //  background-color: transparent;
    //    position: fixed;
    //    top: 0;
      z-index: 2;
      
    }
    
    #home .headerBar-logo {
      width: 10%;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
      #home .headerBar-logo img {
       height:20px;
       width: 20px;
     }
   
    #home .headerBar-search {
      width: 85%;
      height: 30px;
      margin-top: 5px;
      color: #989191;
      justify-content: center;
      background-color: #F4F4F4;
      border-radius: 15px;
      display: flex;
      line-height: 24px;
      .search-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        margin-left: 5px;
        img{
          width: 18px;
          height: 18px;
        }
      }
      .search-input{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        input{
          border: 0;
          display: inline-block;
          background: 0;
          font-size: 15px;
          line-height: 1.2em;
          height: 1.4em;
          width: 100%;
          vertical-align: middle;
          color: #989191;
        }
      }
    }
    .input_style {
      border-radius: 1rem;
      font-size: 14px;
      padding: 0.2rem 0 0.2rem 0;
    }
   
    //  #home .headerBar-search span{
    //    display: inline-block;
    //    height:20px;
    //    width: 20px;
    //    // background-color:red;
    //    background: url('https://baizhanke-1253522040.cos.ap-chengdu.myqcloud.com/5d15967f-b59b-4f6d-b4fa-7284bd85cba4.png') no-repeat;
    //    background-position: -60px -109px;
    //    background-size: 200px 200px;
    //    margin-left: 5px;
    //    margin-top: 3px;
    //  }
   
    //  #home .headerBar-search div{
    //    display:inline-block;
    //    height:100%;
    //    width: auto;
    //  }
       #home .headerBar-search icon{
       display:inline-block;
       height:25px;
       width: 25px;
     }
    
   
     #home .headerBar-login {
         justify-content: center;
       display: flex;
       width: 15%;
       height:35px;
      align-items: center;
       // right: 17px;
     
     }
   
     #home .headerBar-login img {
       width: 25px;
       height:25px;
     
     }
   
   
   
   
     #home .headerBar-login span{
       margin-top: 7px;
       color:#ffffff;
       font-size: 15px;
       display: inline-block;
     }
   
   
   
     #home .ad ion-slide img {
  // object-fit: fill;
  width: 100%;
}
.ad {
  background-color: #fff;
}

     
  
     .mid-con{
       display: flex;
   height: 50px;
       width: 100%;
       justify-content:center; 
       align-items: center;
     }
   
      .mid-con .title-like{
        margin-right: 20px;
       display: flex;
       color: #33342F;
   border-bottom: 2px solid #F3367C;
     font-size: 16px;
     }
     .mid-con title-recommend{
        display: flex;
       color: #949492;
       font-size: 16px;
   border-bottom: 2px solid blue;
     }
   
      .con-sign{
       width: 100px;
       display: flex;
       justify-content: center;
       align-items: center;
       background:rgba(243,54,124,1);
   opacity:1;
   border-radius:15px 0 0 15px;
     }
    .con-sign .iocn-sign{
   width: 22px;
   height: 22px;
   }
     .title-sign .con-sign  .tips-sign{
       display: flex;
   justify-content: center;
   align-items: center;
     width: 70px;
   height:30px;
   color: #fff;
   
     }
      .title-sign{
        width: 100%;
       display: flex;
       justify-content: flex-end;
       color: #fff;
       
   
   
   height:30px;
   
   
     }
   
   .title-sign  .tips-sign{
     width: 80px;
   height:30px;
   background:rgba(243,54,124,1);
   opacity:1;
   border-radius:15px 0 0 15px;
     }
   
   
     .btns-teaching{
       width: 100%;
       display: flex;
       height: 60px;;
       justify-content:space-between ;
       border-bottom: 10px solid #f5f5f5;
         border-top: 10px solid #f5f5f5;
         align-items: center;
       .recom{
         
          display: flex;
         padding-left: 10px;

       justify-content:center;
          color: #232323;
          font-weight: 600;
          font-size: 20px;
       }
       .categrory{
            display: flex;
       justify-content:center;
           width: 20%;
          color: #949492;
          font-size: 18px;
       }
   
     }
     /*商品展示*/
     #home .floor{
       width: 100%;
       margin:0 5px 5px;
       background-color:#fff;
       box-shadow:0 1px 1px #dcdcdc;
       overflow:hidden;
       display: flex;
     }
     #home .floor-title{
       font-size:15px;
       padding-top:8px;
       padding-left:7px;
       padding-bottom:5px;
     }
     #home .floor-title:before{
       display:inline-block;
       content:'';
       width:3px;
       height:12px;
       background-color:#d8505c;
       margin:1px 7px 0 0;
     }
     #home .floor-product{
      
       display: flex;
       flex-direction: column;
       justify-content:center;
     }
     
       .bofy-none{
         margin-top: 20px;
         padding: 15px;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;

         
         .img-none{
             display: flex;
         justify-content: center;
         align-items: center;
           width: 100%;

           img{
             width: 150px;
             height: 150px;;

           }

         }
         .tips-none{
             display: flex;
         justify-content: center;
         align-items: center;
           width: 100%;
           font-size: 16px;
           color: #949492;

         }
       }
     .botomo-content{
        width: 100%;
        display:inline-block;
        margin-top: 20px;

.desc{
  color: #33342F;
  font-size: 15px;
}      
.con-botom{
  width:100%;
  display: flex;
  height: 31px;
  justify-content: space-between;
  .body-left{
    width:60%;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    align-items: center;
    .body-logo{
      color: #F3367C;
      width: 100px;
      display: flex;
      font-size: 16px;
      img{
        border-radius: 50%;
        width:28px;
        height: 28px;
      }
    }
    .body-nickname{
      padding-left: 5px;
      color: #949492;
      width: 100px;
      display: flex;
      font-size: 14px;
      align-items: center;
      text-decoration:line-through;
      justify-content: center;
    }
  }
  .body-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    display: flex;
    img{
      width: 22px;
      height: 18px;
    }
    icon{
      width: 30px;
      height: 30px;
    }
    .num{
      color: #949492;
      font-size: 12px;
    }
  }
  .body-eyes {
    width:40%;
    font-size: 11px;
    @extend .body-right;
    color: #33342f;
  }
}
.bottom-info {
  width: 100%;
  display: flex;

  .left-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height:30px;
    img {
      border-radius: 50%;

      width: 30px;
      height: 30px;
    }
  }
  .right-nickname {
    // display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #949492;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.8rem;
  }
}
  }
   .body-pics{
     width: 50%;
     display: inline-flex;
       flex-direction: column;
       justify-content:center;
       padding: 10px;
       .img-con{
         width: 100%;
         img{
           width: 200px;
           height: 220px;
           
         }
       }
       .desc-name{

    width:100%;
        color:#232323;;
        font-size: 16px;
       }
        .desc{
        width:100%;
        color:#33342F;
        font-size: 14px;
   
     }
     .desc-post{
       height: 25px;
       width:55px;
      //  padding: 5px;
        color:#fff;
        font-size: 14px;
        background-color:#F3367C;
        border-radius: 5px  5px 5px 5px; 
        display: flex;
        justify-content: center;
        align-items: center;

     }

      .con-botom{
        width:100%;
       display: flex;
       justify-content: space-between;
   
         .body-left{
       width:60%;
       display: flex;
       justify-content: center;
       padding: 5px;
       align-items: center;
           .body-logo{
          
               color: #F3367C;
        width: 100px;
          display: flex;
          font-size: 16px;
            
             img{
                border-radius: 50%;
               width:28px;
               height: 28px;
             }
   
           }
   
           .body-nickname{
             padding-left: 5px;
             color: #949492;
        width: 100px;
          display: flex;
          font-size: 14px;
          align-items: center;
            text-decoration:line-through;
          justify-content: center;
           }
   
             }
         .body-right{
         
           display: flex;
           justify-content: center;
           align-items: center;
       width: 30%;
      display: flex;
      img{
         width: 30px;
     height: 25px;
      }
   icon{
     width: 30px;
     height: 30px;
   }
   .num{
    
     color: #949492;
     font-size: 12px;
   }
         }
   
    
      }
   
   
     }
   
    
   
    
    
   
     
     #home .floor-product-list{
       width:100%;
       overflow:hidden;
       float:left;
     }
     #home .floor-product-list img{
       width:400px;
       display:block;
       border-top:1px solid #eee;
     }
     #home .floor-left{
       border-right:1px solid #eee;
       margin-left:-1px;
     }
   .demo1{
   width:300px;
   overflow:hidden;
   }
   .demo1 li{
     width:100px;
     height:100px;
     float:left;
   }
   .demo1 img{
    width:100px;
    height:100px;
   }
     /*回到头部滚动条*/
     #home .back_top{
       width: 35px;
       height: 35px;
       position: fixed;
       bottom: 55px;
       right: 10px;
       background-color:red;
       // background: url('../../assets/img/scroll-to-top-icon.png') no-repeat;
     //  background-image:url('../assets/img/scroll-to-top-icon.png');
      
       // background-size: 35px 35px;
       opacity: 1;
       transition: all .3s ease 0s;
       -webkit-transition: all .3s ease 0s;
       z-index: 100;
     }

  #home .content-top{
    //   width: 100%;
    // display: flex;
    // justify-content: center;
    // border-bottom: 10px solid #f5f5f5;
    // padding-bottom:20px; 
// padding-top: 20px;
margin: 5px;

   
    .detail-icon{
   background-color: #fff;
        width:20%;
        display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
float: left;
   .top-icon{
       
         border-radius: 50%;
 width: 100%;
   display: flex;
   justify-content: center;
     padding: 10px;
   img{
       border: 1px solid #f5f5f5;
     
       border-radius: 50%;
       width: 50px;
       height: 50px;
   }
    }
     .desc-icon{ 
       width: 100%;
display: flex;
    justify-content: center;
    align-items: center;
         font-size: 12px;
         color: #676767;

    }
}

    
}

.masonry{
  overflow: hidden;
  background: #F8F8F8;
  .item{
    float: left;
    width: 47%;
    margin-left: 2%;
    margin-top: 10px;
    background: #fff;
    padding-bottom: 5px;
    border-radius: 5px;
    img {
      max-width: 100%;
      border-radius: 5px;
    }
    .desc {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #33342f;
      font-size: 15px;
    }
    .bottom-info {
      width: 100%;
      display: flex;
      height: 30px;
      .left-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        img {
          border-radius: 50%;
          width: 30px;
          height: 30px;
        }
      }
      .right-nickname {
        width: 40%;
        padding-left: 5px;
        // display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 12px;
        color: #949492;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.8rem;
      }
      .body-eyes {
        color: #33342f;
        width: 40%;
        // margin-left: 30px;
        font-size: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-size: 11px;
        }
        icon {
          width: 30px;
          height: 30px;
          color: #33342f;
        }
      }
    }
  }
  .item.right{
    float: right;
    margin-left: 0;
    margin-right: 2%;
  }
}
.infinite-scroll-enabled{
  background: #f8f8f8 !important;
}
.nomore {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 30px;
  color: #33342f;
  font-size: 13px;
  text-align: center;
  background: #F8F8F8;
}
.icon_check_style {
  width: 0.8rem!important;
  height: 0.5rem!important;
}