<!-- <ion-header>
  <ion-toolbar>
    <ion-title>listTest2</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
      <ion-icon name="add"></ion-icon>
      <ion-icon name="add"></ion-icon>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="arrow-dropleft"></ion-icon>
      </ion-fab-button>
    </ion-fab>
      <ion-fab vertical="top" horizontal="start" slot="fixed">
        <ion-fab-button>
          <ion-icon name="arrow-dropright"></ion-icon>
        </ion-fab-button>
      </ion-fab> -->


        <!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed">
          <ion-fab-button>
            <ion-icon name="arrow-dropup"></ion-icon>
          </ion-fab-button>
        </ion-fab> -->
          <ion-fab vertical="center" horizontal="end" slot="fixed">
            <ion-fab-button>
              <ion-icon name="share"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="top">
              <ion-fab-button class="btn-wechat">
                  <img src="http://baizhanke-1253522040.cos.ap-chengdu.myqcloud.com/1d31a393-8290-4d94-9ac4-131a8e47db8a.png" alt="">
                <!-- <ion-icon name="logo-vimeo"></ion-icon> -->
              </ion-fab-button>
            </ion-fab-list>
           
            <ion-fab-list side="start">
              <ion-fab-button class="btn-wechat">
        <img src="http://baizhanke-1253522040.cos.ap-chengdu.myqcloud.com/b31c1f02-6de4-4cba-a81c-ccee355880ca.png"
          alt="">

                <!-- <ion-icon name="logo-instagram"></ion-icon> -->
              </ion-fab-button>
            </ion-fab-list>
           
          </ion-fab>

  <div class="app-top">
    <div class="logo-download">
      <div class="left-img">
        <img src="http://baizhanke-1253522040.cos.ap-chengdu.myqcloud.com/2c90c597-430b-470d-889f-b11ff0eaa85f.png"
          alt="">

      </div>
      <div class="right-name">
        腾讯应用宝

      </div>


    </div>

    <div class="qr-style">
      <div class="body-img">
        <img src="http://baizhanke-1253522040.cos.ap-chengdu.myqcloud.com/cb44028a-3314-4ea7-9f6e-ed1437716e46.png"
          alt="">
      </div>
      <div class="app-name">
        美尚荟
      </div>
      <div class="app-desc">
        用浏览器扫描上方二维码下载美尚App，开启您的美丽之旅
      </div>
    </div>
    <div>

    </div>


    <div class="app-bottom">
      <div class="body-examles">
        <div class="imgs-per">
          <div>
            <img src="http://baizhanke-1253522040.cos.ap-chengdu.myqcloud.com/da7c8c5e-0c89-46b2-a58d-7f9dadf5ed93.jpg"
              alt="">
          </div>

        </div>
        <div class="imgs-per">
          <div>
            <img src="http://baizhanke-1253522040.cos.ap-chengdu.myqcloud.com/30710534-3cfb-480d-b54e-d3f181cc99e7.jpg"
              alt="">
          </div>

        </div>

      </div>
      <div class="title-app">应用信息</div>
      <div class="tips-app">★美尚荟App是年轻人的生活方式平台和消费决策入口。</div>
      <div class="tips-app">★用户可以发布自己的教程，内容覆盖时尚、个护、彩妆等各个生活方式领域，致力于让全世界的好生活触手可及。</div>
      <div class="tips-app">★在这里，用户通过短视频、图文等形式标记生活点滴;</div>
      <div class="tips-app">★在这里，你也可以试看及购买商家精心上传的课程，学习更多的美妆经验；</div>
      <div class="tips-app">★在这里，你还可以申请入驻商家，亲自体验！</div>
   


  </div>

  </div>


</ion-content>