<ion-header>
  <ion-toolbar>
    <ion-title>to-bank-account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card">
    <div class="card-header">
      <ion-row>
        <ion-col>
          银行卡到账
        </ion-col>
        <ion-col>
          银行卡到账
        </ion-col>
      </ion-row>
    </div>
    <div class="card-content">
      <div class="card-content-inner">头和尾的卡片。卡头是用来显示一些额外的信息，或自定义操作卡标题和页脚。</div>
    </div>
    <div class="card-footer">卡脚</div>
  </div>
</ion-content>
