<ion-header>
  <ion-toolbar>
    <ion-title>wechatshare</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!-- <div id="id_test_video1" style="width:100%; height:3250px;"></div> -->
 <!-- poster="https://meishang-mobile-bucket.obs.cn-east-2.myhuaweicloud.com/a7bebb51-79bd-4301-8552-d9f9582b529ee"  -->
  <!-- <video id="myvideo" style="width: 200px;height: 200px"
    class="myvideo" src="https://meishang-mobile-bucket.obs.cn-east-2.myhuaweicloud.com/f5551553-1573-4308-9e31-465e7736c636.mp4"
    style="margin-top:10px;width: 320px;height: 200px" #media preload="auto" controls> 
 </video> -->

 <!-- poster="https://meishang-mobile-bucket.obs.cn-east-2.myhuaweicloud.com/a7bebb51-79bd-4301-8552-d9f9582b529ee" -->
  <video id="myvideo1" style="width: 200px;height: 200px" class="myvideo"
    src="https://meishang-pc-bucket.obs.cn-east-2.myhuaweicloud.com/263ae2d0-acb1-40f6-99ba-e331967ebc31.mp4"
    style="margin-top:10px;width: 320px;height: 200px" #media preload="auto" controls controlslist="nodownload"> 
  </video>
  <!-- <video autoplay width="100%"  controls x5-video-player-type="h5" x5-video-orientation="landscape"  src="https://meishang-mobile-bucket.obs.cn-east-2.myhuaweicloud.com/f5551553-1573-4308-9e31-465e7736c636.mp4"></video> -->
 
<!-- <div id="id_tes`t_video2" style="width:100%; height:350px;"></div> -->

<!-- <ion-list>
  <ion-radio-group>
  
    <ion-item>
      <ion-label>Biff</ion-label>
      <ion-radio slot="start" value="biff" checked></ion-radio>
    </ion-item>
      <ion-item>
        <ion-label>校园</ion-label>
        <ion-radio slot="start" value="biff" checked></ion-radio>
      </ion-item>
        <ion-item>
          <ion-label>哈哈</ion-label>
          <ion-radio slot="start" value="biff" checked></ion-radio>
  <ion-input class="item-title data" type="text" value="fdfs" ></ion-input>
        </ion-item>
    </ion-radio-group>
    </ion-list>
    <div>hahahahhah</div>
<ion-item>
  <ion-label>Biff</ion-label>
  <ion-radio slot="start" value="biff" checked></ion-radio>
</ion-item>
<ion-item>
  <ion-label>校园</ion-label>
  <ion-radio slot="start" value="biff" checked></ion-radio>
</ion-item> -->
<!-- <ion-progress-bar color="secondary" value="0.5"></ion-progress-bar> -->

  <!-- <ion-button (click)="goToShare1()">我要分享链接</ion-button>
  <ion-button (click)="goToShare2()">我要分享朋友圈</ion-button>
  <ion-button (click)="goToShare3()">我要分享文字</ion-button>
   <ion-button (click)="goToShare11()">我要分享链接1</ion-button>
    <ion-button (click)="goToShare22()">我要分享链接2</ion-button>
    <ion-button (click)="goToShare33()">我要分享链接3</ion-button>
  <ion-button (click)="goToShareForQQ()">我要分享QQ</ion-button>
  <ion-button (click)="goToShareForZone()">我要分享QQ空间</ion-button> -->

</ion-content>
