<ion-header>
  <!-- <ion-toolbar>
    <ion-title>给我留言</ion-title>
  </ion-toolbar> -->
    <ion-toolbar class="toolbarback">
      <!-- <ion-icon style="float:left;width:50px;height:30px;color:#949492;" name="ios-arrow-back" (click)='canGoBack()'>
      </ion-icon> -->
      <img style="float:left;width:30px;height:30px;color:#949492;" src="assets/icons/back.png" (click)='canGoBack()'>
      <ion-title id="animated">给我留言</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>



  <div class="content-bottom">
    <div class="con-details">
      <div class="body-left">
        <div class="body-logo">
          <img src="assets/img/shuang1.jpg" alt="">
        </div>
      </div>
      <div class="body-right">
        <div class="title1">
          <div class="nickname">李洛克</div>
          <div class="nick-right">给你留言啦</div>
        </div>
        <div class="desc">
          2019 12:25
        </div>
      </div>
      <div class="time-msg">
        <img src="assets/img/friends.jpg" alt="">

      </div>

    </div>
    <!--  -->
    <div class="con-details">
      <div class="body-left">
        <div class="body-logo">
          <img src="assets/img/sakura.jpg" alt="">
        </div>
      </div>
      <div class="body-right">
        <div class="title1">
          <div class="nickname">卡卡西</div>
          <div class="nick-right">给你留言啦</div>
        </div>
        <div class="desc">
          2019 12:25
        </div>
      </div>
      <div class="time-msg">
        <!-- <img src="assets/img/panda.jpg" alt=""> -->

      </div>

    </div>
    <!--  -->
    <div class="con-details">
      <div class="body-left">
        <div class="body-logo">
          <img src="assets/img/xxxx.jpg" alt="">
        </div>
      </div>
      <div class="body-right">
        <div class="title1">
          <div class="nickname">我爱罗</div>
          <div class="nick-right">给你留言啦</div>
        </div>
        <div class="desc">
          2019 12:25
        </div>
      </div>
      <div class="time-msg">
        <img src="assets/img/enheng.jpg" alt="">

      </div>

    </div>
  </div>


</ion-content>