<ion-content>
  <div class="goods-body">
    <div class="goods-per" (click)=" toShareForFriends()">
      <div class="goods-left">
        <img src="http://baizhanke-1253522040.cos.ap-chengdu.myqcloud.com/b31c1f02-6de4-4cba-a81c-ccee355880ca.png"
          alt="">
      </div>
      <div class="goods-right">
        <div class="goods-title">
          微信好友
        </div>
      </div>
    </div>
    <div class="goods-per" (click)=" toShareForMoments()">
      <div class="goods-left">
        <img src="http://baizhanke-1253522040.cos.ap-chengdu.myqcloud.com/1d31a393-8290-4d94-9ac4-131a8e47db8a.png"
          alt="">
      </div>
      <div class="goods-right">
        <div class="goods-title">
          朋友圈
        </div>
      </div>
    </div>
    <div class="goods-per" (click)=" goToShareForQQ()">
      <div class="goods-left">
        <img src="assets/img/QQshare.png" alt="">
      </div>
      <div class="goods-right">
        <div class="goods-title">
          QQ好友
        </div>
      </div>
    </div>
    <div class="goods-per" (click)=" goToShareForZone()">
      <div class="goods-left">
        <img src="assets/img/zone.png" alt="">
      </div>
      <div class="goods-right">
        <div class="goods-title">
          QQ空间
        </div>
      </div>
    </div>
  </div>
  <div class="report">
    <div class="report-icon" (click)="goToReport()">
      <img src="assets/img/report.png" alt="">
    </div>
    <div class="report-tips" (click)="goToReport()">
      举报
    </div>
  </div>
  <div class="btn-bottom" (click)="goToCancel()">
    <div class="btn-cart-left">
      取消
    </div>
  </div>

</ion-content>