<ion-header>
  <!-- <ion-toolbar>
    <ion-title>设置登录密码</ion-title>
  </ion-toolbar> -->
  <ion-toolbar class="toolbarback">
    <!-- <ion-icon style="float:left;width:50px;height:30px;color:#949492;" name="ios-arrow-back" (click)='canGoBack()' *ngIf="showBackBtn">
    </ion-icon> -->
    <img style="float:left;width:30px;height:30px;color:#949492;" src="assets/icons/back.png" (click)='canGoBack()' *ngIf="showBackBtn">
    <ion-title id="animated">设置登录密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body-login">
    <div class="type-phone">
      <div class="con-type">
        设置登录密码
      </div>
    </div>
    <div class="body-phone">
      <div class="body-left">
        输入密码
      </div>
      <div class="body-right">
        <input type="password" maxlength="10" [(ngModel)]="userPassword1" placeholder="输入密码" />
      </div>
    </div>
    <div class="body-phone">
      <div class="body-left">
        确认密码
      </div>
      <div class="body-right">
        <input type="password" maxlength="10" [(ngModel)]="userPassword2" placeholder="确认密码" />
      </div>
    </div>
    <div class="btn-submit" (click)=gotoLogin()>
      <div class="btn-body">确定</div>
    </div>
    <div class="tip">
      新用户账户初始密码为888888,为了安全起见，请尽快修改密码，密码不超过10位数字、字母的自由组合
    </div>
  </div>
</ion-content>