.header{
    background: rgba(243,54,124,1);
    color: white;
    font-size: 16px;
}
.logistics{
    padding: 10px 0;
    color: rgba(102,102,102,1);
    border-radius: 0;
    margin: 10px 0;
    
    
}
.info{
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0;
}
.line{
    height: 70%;
    margin: -50% 0 125% 0;
}