.apply{
    padding-top: 50px;
    text-align: center;
}
ul>li{
    list-style: none;
}
.msg{
    font-size: 14px;
    color: #989898;
    margin: 10px 0;
}
.mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button {
    color: #fff;;
    background-color: #F3367C;
}
