<ion-header>
  <ion-toolbar class="toolbarback">
    <!-- <ion-icon style="float:left;width:50px;height:30px;color:#949492;" name="ios-arrow-back" (click)='canGoBack()'>
    </ion-icon> -->
    <img style="float:left;width:30px;height:30px;color:#949492;" src="assets/icons/back.png" (click)='canGoBack()'>
    <ion-title id="animated">全部评论</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <!-- <div class="ul">
    <span>全部 {{type}}</span>
    <span>有图</span>
    <span>美图12465</span>
    <span>全部</span>
    <span>全部</span>
  </div> -->
  <!-- 暂无内容 -->
  <div class="bofy-none" *ngIf="!isComment">
    <div class="img-none">
      <img src="assets/img/none1.jpg" alt="">
    </div>
    <div class="tips-none">暂无更多评论</div>
  </div>
  <div class="comments-body" *ngIf="isComment">
    <div class="">
      <span>评论({{commentNum}})</span>
    </div>

    <div class="per-comm" *ngFor="let item of commentList;let i=index" (press)="goTodelete1(i,item.RecordId)">
      <div class="comm-top">
        <div class="comm-logo" (click)="goToVisitorHome(item.ProductId.ProductVisitorId)">

          <img [src]="item.Logo || 'assets/img/shuang.png'" alt="">
          <span style="font-size: 14px;padding-left: 6px;">{{item.Name}}</span>

        </div>

        <div class="comm-bottom">
          <div class="comm-content">

            {{item.Content}}
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="comm-top" *ngFor="let item of commentList;let i=index" (press)="goTodelete1(i,item.RecordId)">
    <div class="comm-left">
      <div class="logo-comm">
      
        <img [src]="item.Logo || 'assets/img/friends.jpg' " alt="">
      </div>
      <div class="nick-comm">{{item.Name }}:</div>


    </div>

    <div class="comm-right"> {{item.Content}}</div>
 
  </div> -->
    <!-- <div class="bottom-send">
    添加评论
    
    <ion-input style="height:30px;margin-left: 10px;border-bottom: 1px solid #1b1b1ba8;" placeholder="输入评论"
      [(ngModel)]="commentsInfo"></ion-input>
    <ion-button style="border:none" color="primary" (click)="toSendComments()">发送</ion-button>
  </div>
   -->

  </div>




</ion-content>

<ion-footer class="rep">
  <ion-row>
    <ion-col size="9">
      <div class="inp">
        <ion-input placeholder="请输入评论内容" [(ngModel)]="commentsInfo" id="inpValue" (ionBlur)="blurInput()"></ion-input>
      </div>
    </ion-col>
    <ion-col size='3' text-right>
      <div class="btn-send">
        <ion-button style="border:none" class="to-send" color="primary" (click)="toSendComments()">发送</ion-button>

      </div>
      <!-- <button mat-raised-button color="accent" [ngStyle]="{borderRadius:'30px'}" (click)='se()'>发送</button> -->
    </ion-col>
  </ion-row>
</ion-footer>