<ion-header>

</ion-header>
<ion-toolbar class="toolbarback">
  <!-- <ion-icon style="float:left;width:50px;height:30px;color:#949492;" name="ios-arrow-back" (click)='canGoBack()'>
  </ion-icon> -->
  <img style="float:left;width:30px;height:30px;color:#949492;" src="assets/icons/back.png" (click)='canGoBack()'>
  <ion-title id="animated">评论和@</ion-title>
</ion-toolbar>


<ion-content>
  <div class="content-bottom">
    <div class="con-details">
      <div class="body-left">
        <div class="body-logo">
          <img src="assets/img/xxxx.jpg" alt="">
        </div>
      </div>
      <div class="body-right">
        <div class="title1">
          <div class="nickname">小小黑</div>
          <div class="nick-right">评论了你的笔记</div>
        </div>
        <div class="desc">
          2019/2/12 12:25
        </div>
      </div>
      <div class="time-msg">
        <!-- <img src="assets/img/panda.jpg" alt=""> -->

      </div>

    </div>
    <!--  -->
    <div class="con-details">
      <div class="body-left">
        <div class="body-logo">
          <img src="assets/img/shuang1.jpg" alt="">
        </div>
      </div>
      <div class="body-right">
        <div class="title1">
          <div class="nickname">犬夜叉</div>
          <div class="nick-right">评论了你的笔记</div>
        </div>
        <div class="desc">
          2019/2/12 12:25
        </div>
      </div>
      <div class="time-msg">
        <img src="assets/img/sakura.jpg" alt="">

      </div>

    </div>
    <!--  -->
    <div class="con-details">
      <div class="body-left">
        <div class="body-logo">
          <img src="assets/img/didi.jpg" alt="">
        </div>
      </div>
      <div class="body-right">
        <div class="title1">
          <div class="nickname">杀生丸</div>
          <div class="nick-right">评论了你的笔记</div>
        </div>
        <div class="desc">
          2019/3/25 12:25
        </div>
        <div class="comments">
          这个妆容画出来真好看，手残党也能轻易学会，多谢博主分享,

        </div>
      </div>
      <div class="time-msg">
        <img src="assets/img/friends.jpg" alt="">

      </div>

    </div>
    <!--  -->
    <div class="con-details">
      <div class="body-left">
        <div class="body-logo">
          <img src="assets/img/mimi.jpg" alt="">
        </div>
      </div>
      <div class="body-right">
        <div class="title1">
          <div class="nickname">桔梗</div>
          <div class="nick-right">评论了你的笔记</div>
        </div>
        <div class="desc">
          2019/2/12 12:25
        </div>
        <div class="comments">
          这个妆容画出来真好看，手残党也能轻易学会，多谢博主分享,

        </div>
      </div>
      <div class="time-msg">
        <img src="assets/img/enheng.jpg" alt="">

      </div>

    </div>
  </div>


</ion-content>